.Technology__wrapper {
  background: url(../../assets/technology/background-technology-mobile.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100svh;
}

.Technology__container {
  padding: 6.5rem 0 3rem 0;
}

.Technology__subtitle {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1rem;
  font-family: "Barlow Regular";
  color: var(--white);

  .subtitle__num {
    font-family: "Barlow Condensed Regular";
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 25%;
  }
}

.Technology__image {
  padding: 4rem 0 2rem 0;
}

.Technology__image img,
.Technology__image picture {
  width: 100%;
  min-height: 16.125rem;
  display: block;
}

.Technology__btn--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 2.5rem;
}

.dot__tech {
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;

  font-size: 1.125rem;
  font-family: "Bellefair Regular";
  color: var(--white);
}

.dot__tech.active {
  background-color: var(--white);
  color: black;
}

.dot__tech:hover {
  border: 1px solid var(--white);
}

.Technology__text--container {
  padding: 0 1.5rem 0 1.5rem;

  .Tech__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .Technology__title {
    font-size: 1.125rem;
    font-family: "Bellefair Regular";
    font-weight: 400;
    text-transform: uppercase;

    opacity: 50.42%;
    color: var(--white);
  }

  .Technology__name {
    font-size: 1.5rem;
    font-family: "Bellefair Regular";
    font-weight: 400;
    text-transform: uppercase;

    color: var(--white);
  }

  .Technology__description {
    font-size: 0.938rem;
    font-family: "Barlow Regular";
    font-weight: 400;
    line-height: 1.8;
    color: var(--blue-300);

    text-align: center;
  }
}

@media screen and (min-width: 48rem) {
  .Technology__wrapper {
    background: url(../../assets/technology/background-technology-tablet.jpg)
      no-repeat;
    background-size: cover;
    background-position: center;
  }

  .Technology__container {
    padding: 8.5rem 0 2.5rem 0;
  }

  .Technology__subtitle {
    justify-content: start;
    padding-left: 2.5rem;

    font-size: 1.5rem;
  }

  .Technology__image img,
  .Technology__image picture {
    min-height: 22.313rem;
  }

  .dot__tech {
    width: 3.5rem;
    height: 3.5rem;
  }

  .Technology__text--container {
    .Technology__title {
      font-size: 1.5rem;
    }

    .Technology__name {
      font-size: 2.5rem;
    }

    .Technology__description {
      font-size: 1rem;
      max-width: 32rem;
    }
  }
}

@media screen and (min-width: 62rem) {
  .Technology__wrapper {
    background: url(../../assets/technology/background-technology-desktop.jpg)
      no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .Technology__container {
    max-width: 79.688rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 11.5rem 0 3rem 0;
  }

  .Technology__subtitle {
    justify-content: start;
    padding-left: 0;

    font-size: 1.75rem;
  }

  .Technology__content--container {
    display: flex;
    flex-direction: row-reverse;

    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  .dot__tech {
    width: 5rem;
    height: 5rem;
  }

  .Technology__text--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 0;
    gap: 4rem;

    .Tech__text-wrapper {
      align-items: flex-start;
    }

    .Technology__title {
      font-size: 2rem;
    }

    .Technology__name {
      font-size: 3.5rem;
      margin-bottom: 0.5rem;
    }

    .Technology__description {
      font-size: 1.125rem;
      text-align: left;
    }
  }

  .Technology__btn--wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  .Technology__image {
    padding: 0;
    min-height: 45.875rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Technology__image img,
  .Technology__image picture {
    min-height: 37.5rem;
  }
}
